<mat-card class="abc">
    <form class="border border-light p-5">
  
      <p class="h4 mb-4">Cake Description Form
      </p>
      <hr>
      <div class="row" style="margin-top: 5%;">
          <label for="textInput">How many people do you need to serve? What size cake do you need?</label>
          <select class="browser-default custom-select mb-8" id="select">
            <option value="" disabled="" selected="">Select Size</option>
            <option value="1">8'' x 12''  80 - 120 Portion*  £220</option>
            <option value="2">Birthday Cakes</option>
          </select>
      </div>

      <div class="row" style="margin-top: 5%;">
        <label for="textInput">How many people do you need to serve? What size cake do you need?</label>
        <select class="browser-default custom-select mb-8" id="select">
          <option value="" disabled="" selected="">Select Size</option>
          <option value="1">8'' x 12''  80 - 120 Portion*  £220</option>
          <option value="2">Birthday Cakes</option>
        </select>
    </div>

    <div class="row" style="margin-top: 5%;">
      <label for="textInput">How many people do you need to serve? What size cake do you need?</label>
      <select class="browser-default custom-select mb-8" id="select">
        <option value="" disabled="" selected="">Select Size</option>
        <option value="1">8'' x 12''  80 - 120 Portion*  £220</option>
        <option value="2">Birthday Cakes</option>
      </select>
  </div>

  <div class="row" style="margin-top: 5%;">
    <label for="textInput">How many people do you need to serve? What size cake do you need?</label>
    <select class="browser-default custom-select mb-8" id="select">
      <option value="" disabled="" selected="">Select Size</option>
      <option value="1">8'' x 12''  80 - 120 Portion*  £220</option>
      <option value="2">Birthday Cakes</option>
    </select>
</div>

<div class="row" style="margin-top: 5%;">
  <label for="textInput">How many people do you need to serve? What size cake do you need?</label>
  <select class="browser-default custom-select mb-8" id="select">
    <option value="" disabled="" selected="">Select Size</option>
    <option value="1">8'' x 12''  80 - 120 Portion*  £220</option>
    <option value="2">Birthday Cakes</option>
  </select>
</div>

<div class="row" style="margin-top: 5%;">
  <label for="textInput">How many people do you need to serve? What size cake do you need?</label>
  <select class="browser-default custom-select mb-8" id="select">
    <option value="" disabled="" selected="">Select Size</option>
    <option value="1">8'' x 12''  80 - 120 Portion*  £220</option>
    <option value="2">Birthday Cakes</option>
  </select>
</div> <br> <br>
      
      <button class="btn btn-info btn-block" type="submit" style="margin-top: 5%;width:25%;margin:auto;">Submit</button>
    </form>
  </mat-card>