<title>Contact</title>
<mat-card>
  <mat-card-title>
    LOGIN FORM
  </mat-card-title>
      <form (ngSubmit)="LoginForm(SignupForm)" #SignupForm="ngForm">
        <mat-form-field>
          <input type="email"
                  matInput
                  name="email"
                  ngModel
                  placeholder="Email ID"
                  #emailId= "ngModel" required email>
          <mat-error *ngIf="emailId.invalid">PLease Enter a valid email!</mat-error>
        </mat-form-field> <br> <br>
        <mat-form-field>
            <input type="password"
                    matInput
                    name="password"
                    ngModel
                    placeholder="Password"
                    #pass= "ngModel" required email>
            <mat-error *ngIf="pass.invalid">PLease Enter correct Password!</mat-error>
          </mat-form-field> <br> <br>
          <div class="butn">
          <button mat-button><b>Submit</b></button>
        </div>
      </form>
</mat-card>
<!-- <html>
  <body>
    <form>
      <div>
        <label>Email:</label>

                <input type="text" name="eMail" required />
        <br/>
      </div>
      <div>
        <label>Password:</label>
        <input type="password" name="password" required />
      </div>
      <div>
        <input type="submit" value="Submit" />
      </div>
    </form>
  </body>
</html> -->

<router-outlet></router-outlet>
